<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>edit profile</title>
    <style>
        .card-img-top {
        width: 100%;
        height: 25vw;
        object-fit: cover;
        }
    
        .alert{
        text-align: center
        }
    
        .buttons {
        /* margin-top: 100px; */
        margin-bottom: 0;
        }
    
        .closebtn {
        margin-left: 15px;
        color: black;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
        }
    
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }
    
        li {
        float: left;
        }
    
        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        
        /* Change the link color to #111 (black) on hover */
        li a:hover {
        background-color: #111;
        }
    
        </style>
</head>
<body>
    <ul>
        <li><a href="/house">Home</a></li>
        <li><a href="/house/add">Add House</a></li>
        <li><a href="/profile/detail">Profile Detail</a></li>
        <li style="float: right;"><a href="/logout">Logout</a></li>
    </ul><br>

    <div class="container text-center mt-5">
        <form action="/profile/<%= data.id %>/edit" method="POST">
            <h1>Edit Profile</h1>
            First name : <br>
            <input type="text" name="firstName" value="<%= data.firstName %>"><br>
            Last name : <br>
            <input type="text" name="lastName" value="<%= data.lastName %>"><br>
            Birth day : <br>
            <input type="date" name="dateOfBirth" value="<%= data.formatDate %>"><br>
            Gender : <br>
            <select name="gender" >
                <% ['female', 'male'].forEach(el => {%>
                    <% if(el === data.gender ) {%>
                        <option selected value="<%= el %>"><%= el %> </option>
                        <%} else {%>
                            <option value="<%= el %>"><%= el %></option>
                        <%}%> 
                <%}) %> 
            </select><br>
            Address : <br>
            <input type="text" name="address" value="<%= data.address %>"><br>
            <button type="submit">edit</button>
        </form>

    </div>
</body>
</html>